# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries



# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a


# Executables
*.exe
*.out
*.app

Win32
Win64

Debug
.vs
*.db
*.opendb

Autosaves
Backup
Collections
Cooked
Logs

Build
Binaries

*.png
*.jpg
*.bin
*.log
*.uasset


